<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script type="text/x-underscore-template" data-template-name="editor">
            <div class="editor panel panel-default">
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input type="text" class="name form-control" placeholder="Read1" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Sequence</span>
                        <input type="text" class="sequence form-control" placeholder="ACCACTACCATAC" />
                    </div>

                    <button class="add btn btn-primary btn-block">Add</button>

                    <table class="stringList table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Sequence</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <button class="regenerate btn btn-primary btn-block">Regenerate overlap graph</button>

                    <table class="overlapGraph table table-striped">
                        <thead>
                            <tr>
                                <th colspan="2">Overlap graph:</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </script>

        <script type="text/x-underscore-template" data-template-name="string">
            <td><%= name %></td>
            <td><%= sequence %></td>
        </script>

        <script type="text/x-underscore-template" data-template-name="overlap">
            <td><%= from %></td>
            <td><%= to %></td>
        </script>

        <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/requirejs/require.js" data-main="js/main"></script>

    </head>
    <body>

    </body>
</html>
